{% for media in product.media %} 
  <div>
    {% capture img_id %}FeaturedImage-{{ section.id }}-{{ media.id }}{% endcapture %}
    {% case media.media_type %}
    {% when 'image' %}
      <img id="{{ img_id }}"
        class="feature-row__image"
        src="{{ media | img_url: '300x300' }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ media.aspect_ratio }}"
        data-sizes="auto"
        tabindex="-1"
        alt="{{ media.alt | escape }}">
    {% when 'external_video' %}
      {{ media | external_video_tag }}
    {% when 'model' %}
      {{ media | model_viewer_tag }}
    {% when 'video' %}
      {{ media | video_tag: image_size: '600x', loop: true, autoplay: false, muted: true, controls: true }}
    {% else %}
      {{ media | media_tag }}
    {% endcase %}
  </div>
{% endfor %}
